.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
  }

.login {
    position: relative;
}
.login_form{
    padding: 2px 16px;
    border-radius: 5px;
    background-color: #000000a3;
    h3{
        color: #fff;
        text-align: center;
        padding: 19px 0px 6px 0px;
    }
}
label{
    color: #fff;
    padding: 0px 0px 10px 0px;
}
.form-control{
    background-color: #00000021;
    color: #fff;
    margin: 0 0px 10px 0px;
}
.btn-primary{
    margin: 2% 41% 5% 41%;
}